@{
  Layout = "_Layout";
}

@model Pierres.Models.Treat

<h4>Add a new Treat</h4>
<p>@Html.ValidationMessageFor(model => model.TreatType, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.TreatType)
  @Html.TextBoxFor(model => model.TreatType, new { required="required" })

  <input type="submit" value="Add new Treat" class="btn btn-primary"/>
}