@{
  Layout = "_Layout";
}

@model Pierres.Models.Flavor
@using Pierres.Models

<form method = "post">
  <label for="flavorType">Flavors:</label>
  <input type = "text" id="flavorType" name="flavorType">
  <br>
  <table>
  @foreach (Treat treat in ViewBag.Treats)
  {
    <tr>
      <td>@treat.TreatType</td>
      <td><input name="wutTreats" type="checkbox" value="@treat.TreatId"></td>
    </tr>
  }
</form>
<input type="submit" value="Save this flavor type">