@{
  Layout = "_Layout";
}

@model Pierres.Models.Flavor

<h4>Add a new Flavor</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.FlavorType, "Flavor Type")
  @Html.TextBoxFor(model => model.FlavorType)
  <br>
  <input type="submit" value="Add new Flavor"  class="btn btn-primary"/>
}